.wrapper{
  display: flex;
}

.side-bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.side-header{
  height: 100px;
  padding: 0 20px;
}

.bar{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
}

.chat{
  width: calc(100vw - 300px);
  background-color: #FFFFFF;
}

.chat-header{
  height: 100px;
  padding: 0 20px;
}

.main-chat{
  background-color: #FAFAFA;
  height: calc(100% - 100px - 90px );
  padding: 46px 40px 0;
}

.chat-footer{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}